
@tailwind base;
@tailwind components; 
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: blue; */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}



/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.spin-button-none::-webkit-outer-spin-button, .spin-button-none::-webkit-inner-spin-button{
  appearance: none;
}

.clip-bottom {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}




